<div class="flex justify-center items-center mt-28">
  <div class="overflow-x-auto w-3/4">
    <h1 class="mb-4 text-xl underline italic font-semibold">Employee list</h1>
    <table class="table-auto min-w-full border-4">
      <thead class="border-2 border-black">
        <tr class="bg-gray-200 border-2 border-black">
          <th class="px-2 py-2 border-2 border-black">ID</th>
          <th class="px-2 py-2 border-2 border-black"> First Name</th>
          <th class="px-2 py-2 border-2 border-black">Last Name</th>
          <th class="px-2 py-2 border-2 border-black">Email</th>
          <th class="px-2 py-2 border-2 border-black">Department</th>
          <th class="px-2 py-2 border-2 border-black">Position</th>
          <th class="px-2 py-2 border-2 border-black">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees" class="border-2 border-gray-200">
          <td class="px-4 py-2 border-r-2 border-black">{{ employee.id }}</td>
          <td class="px-4 py-2 border-r-2 border-black">
            {{ employee.firstName }}
          </td>
          <td class="px-4 py-2 border-r-2 border-black">
            {{ employee.lastName }}
          </td>
          <td class="px-4 py-2 border-r-2 border-black">
            {{ employee.email }}
          </td>
          <td class="px-4 py-2 border-r-2 border-black">
            {{ employee.department }}
          </td>
          <td class="px-4 py-2 border-r-2 border-black">
            {{ employee.position }}
          </td>
          <td>
            <button
              *ngIf="employee.id"
              (click)="updateEmployee(employee.id)"
              class="bg-green-400 rounded-lg p-2 m-3"
            >
              Update
            </button>
            <button
              *ngIf="employee.id"
              (click)="deleteEmployee(employee.id)"
              class="bg-red-500 rounded-lg p-2 mx-2"
            >
              Delete
            </button>
            <button *ngIf="employee.id" (click)="employeeDetails(employee.id)" class="bg-blue-500 rounded-lg p-2 mx-2">
              View
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
